

/*Setting font type and size forbody and adding background image */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("watercolor-1.jpg");
    font-size: 14pt; 
}


div { 
    background-image: url('../../images/watercolor-1.jpg');
}

/* Adding background image to header */
header {
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/13/40/watercolor-background-with-lotus-flower-vector-17821340.jpg");
    margin: 0px;
    padding: 50px, 60px;
    border: 8px solid black;
    text-align: center;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Adding a Navagation Bar */
.navbar {
    overflow: hidden;
    background-color: rgb(148, 145, 145);
    font-family: palatino;
  }

  /* Adding author photo with border  */
img {
    width: 140px;
    height: auto;
    padding: 5px;
    border: 3px;
    background-color: teal;
    float: center;
    border-radius: 15%;
    opacity: .85;
}

/* adding a box for design. Making it light blue with double antiquewhite border and a 60% opacity that changes size with the window  */
.getstart {
    background: rgb(115, 230, 238);
    height: auto;
    width: 98%;
    position: static;
    left: 25%;
    padding: 20px;
    border-style: double;
    border: 5px double antiquewhite;
    opacity: .6;
}

/* changing border and padding to only the first two paragraphs in the body  */
.intro {
    border: 5px;
    padding: 10px;
}

/* Making a right aligned article that provides links to code tool and learning websites  */
article {
    float: right;
    text-align: right;
    border: 5px solid antiquewhite;
    padding: 5px;
    height: auto;
    width: 25%;
    margin: 20px;
    border-radius: 15%;
    background-color: rgb(158, 241, 207);
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/13/40/watercolor-background-with-lotus-flower-vector-17821340.jpg");
}

/* Setting size and making background color of text boxes for lists antiquewhite. Aligning boxes left  */
ul {
    background-color: antiquewhite;
    width: 150px;
    height: auto;
    border: 3px solid rgb(158, 241, 207) ;
    padding: 20px;
    align-content: left;
}

/* Adding a background Image with a 70% opacity. Changing font and aligning text  */
 footer {
    text-align: right;
    color: rgb(148, 145, 145);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 24px;
    font-weight: bolder;
    clear: both;
    position: relative;
    display: block;
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/31/91/yellow-watercolor-background-vector-5143191.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    opacity: .7;
}

/* Creating a box to style the contact email. Making with of box change size with window and changing color to grey */
.contactbox {
    height: 40px;
    width: auto;
    background-color: rgb(148, 145, 145);
}