body {
    font-family: palatino;
    background-image: url("watercolor-1.jpg");
    font-size: 14pt;
}

.header h2 {
font-family: Georgia, 'Times New Roman', Times, serif;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 50px, 60px;
    border: 10px solid black;
    height: 200;
    width: 300;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(115, 230, 238);
}

.intro {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 140px;
    height: auto;
    padding: 5px;
    border: 3px;
    background-color: teal;
    float: center;
    border-radius: 15%;
}

.work img {
    display: block;
}

div { 
    float: left;
    background-image: url('../../images/watercolor-1.jpg');
}

.intro {
    border: 5px;
    padding: 10px;
    text-align: center;
}

ul {
    text-align: center;
}

article {
    float: right;
    text-align: right;
    border: 5px solid antiquewhite;
    padding: 5px;
    height: auto;
    width: 25%;
    margin: 20px;
    border-radius: 15%;
    background-color: rgb(174, 174, 247);
}

footer {
    text-align: right;
}

.btn  {
    margin: 20px;
    border-color: teal;
    border: 5px;
    background-color: rgb(174, 174, 247);
    padding: 15;

}