body {
    font-family: palatino;
    background-color: rgb(212, 245, 245);
    font-size: 14pt;
}

.header h2 {
font-family: Georgia, 'Times New Roman', Times, serif;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 50px, 60px;
    border: 3px solid black;
    height: 200;
    width: 300;
    text-align: center;
    vertical-align: middle;
    
}

.intro {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 140px;
    height: auto;
}

img.work {
    display: block;
}

video.hobby { 
    float: left;
}

<p> test </p>